<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CartMapper">

    <insert id="insert">
        insert into SailToTMDB.CartItems (user_id, quantity, created_date, num_iid)
        VALUES (#{user_id},
                #{quantity},
                #{created_time},
                #{num_iid});
    </insert>

    <select id="selectAllByUserIdPage" resultType="com.entity.CartItem">
        select h.cart_id         as cart_id,
               h.num_iid         as num_iid,
               h.created_date    as created_date,
               p.pic_url         as pic_url,
               p.promotion_price as promotion_price,
               p.price           as price,
               p.title           as title,
               h.quantity        as quantity
        from SailToTMDB.CartItems h,
             SailToTMDB.OneBoundApiTaobaoProduct p
        where h.user_id = #{user_id}
          and h.num_iid = p.num_iid
        order by h.created_date desc
    </select>
    <select id="selectAllByUserSearchPage" resultType="com.entity.CartItem">
        select h.cart_id         as cart_id,
               h.num_iid         as num_iid,
               h.created_date    as created_date,
               p.pic_url         as pic_url,
               p.promotion_price as promotion_price,
               p.price           as price,
               p.title           as title,
               h.quantity        as quantity
        from SailToTMDB.CartItems h,
             SailToTMDB.OneBoundApiTaobaoProduct p
        where h.user_id = #{user_id}
          and h.num_iid = p.num_iid
          and p.title LIKE #{q}
        order by h.created_date desc
    </select>
</mapper>