<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yasyl.sailtotm.mapper.FavouriteMapper">


    <insert id="insert">
        insert into SAILTOTM.FavouriteItems (user_id, num_iid, created_date)
        VALUES (#{user_id},
                #{num_iid},
                #{created_time});
    </insert>

    <select id="selectAllByUserIdPage" resultType="com.yasyl.sailtotm.entity.FavouriteItem">
        select h.favourite_id    as favourite_id,
               h.num_iid         as num_iid,
               h.created_date    as created_date,
               p.pic_url         as pic_url,
               p.promotion_price as promotion_price,
               p.price           as price,
               p.title           as title
        from SAILTOTM.FavouriteItems h,
             SAILTOTM.OneBoundApiTaobaoProduct p
        where h.user_id = #{user_id}
          and h.num_iid = p.num_iid
        order by h.created_date desc
    </select>
    <select id="selectAllByUserSearchPage" resultType="com.yasyl.sailtotm.entity.FavouriteItem">
        select h.favourite_id    as favourite_id,
               h.num_iid         as num_iid,
               h.created_date    as created_date,
               p.pic_url         as pic_url,
               p.promotion_price as promotion_price,
               p.price           as price,
               p.title           as title
        from SAILTOTM.FavouriteItems h,
             SAILTOTM.OneBoundApiTaobaoProduct p
        where h.user_id = #{user_id}
          and h.num_iid = p.num_iid
          and p.title LIKE #{q}
        order by h.created_date desc
    </select>
    <select id="selectById" resultType="com.yasyl.sailtotm.entity.FavouriteItem">
        select h.favourite_id    as favourite_id,
               h.num_iid         as num_iid,
               h.created_date    as created_date,
               p.pic_url         as pic_url,
               p.promotion_price as promotion_price,
               p.price           as price,
               p.title           as title
        from SAILTOTM.FavouriteItems h,
             SAILTOTM.OneBoundApiTaobaoProduct p
        where h.num_iid = #{numIid}
          and h.user_id = #{userId}
        limit 1;
    </select>
</mapper>