<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yasyl.sailtotm.mapper.GoodDetailMapper">
    <insert id="insertGoodDetail" parameterType="com.yasyl.sailtotm.entity.Order.Good.GoodDetail" useGeneratedKeys="true"
            keyProperty="goodDetailId">
        insert into sailtotmdb.GoodsDetails (quantity, num_iid, properties, properties_name)
        values (#{quantity},
                #{numIid},
                #{properties},
                #{propertiesName});
    </insert>
</mapper>