<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.MembershipMapper">


    <insert id="topUpMoneyAddHistory">
        insert into sailtotmdb.MembershipUsersBalanceHistory (membership_id, user_id, stuff_id, status_id, `change`, created_date)
        values (#{membershipId},
                #{userId},
                #{stuffId},
                #{statusId},
                #{change},
                #{createdDate});
    </insert>
</mapper>