<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.OneBoundApiTaobaoProductMapper">
    <select id="selectById" resultType="com.entity.TaobaoGoodList.Product">
        select detail_url,
               num_iid,
               pic_url,
               price,
               promotion_price,
               sales,
               seller_nick,
               title,
               q,
               seller_nick_zh,
               title_zh
        from OneBoundApiTaobaoProduct
        where num_iid = #{numIid}
    </select>
    <select id="selectByQ" resultType="com.entity.TaobaoGoodList.Product">
        select detail_url,
               num_iid,
               pic_url,
               price,
               promotion_price,
               sales,
               seller_nick,
               title,
               q,
               seller_nick_zh,
               title_zh
        from OneBoundApiTaobaoProduct
        where q like #{q}
        order by created_date desc
    </select>
    <select id="selectAllProduct" resultType="com.entity.OneBoundApiTaobaoProduct">
        select detail_url,
               num_iid,
               pic_url,
               price,
               promotion_price,
               sales,
               seller_nick,
               title,
               q,
               created_date,
               seller_nick_zh,
               title_zh
        from OneBoundApiTaobaoProduct
        order by created_date desc
    </select>

    <insert id="insert">
        insert into OneBoundApiTaobaoProduct (created_date, detail_url, num_iid, pic_url, price,
                                              promotion_price, sales,
                                              seller_nick, title, q,
                                              seller_nick_zh,
                                              title_zh)
        VALUES (#{created_date}, #{item.detailUrl}, #{item.numIid}, #{item.picUrl}, #{item.price},
                #{item.promotionPrice}, #{item.sales},
                #{item.sellerNick}, #{item.title}, #{q},
                #{item.sellerNickZh},
                #{item.titleZh})

    </insert>

    <update id="update">
        update OneBoundApiTaobaoProduct
        <set>
            <if test="created_date!=null">created_date = #{created_date},</if>
            <if test="item.detailUrl!=null">detail_url = #{item.detailUrl},</if>
            <if test="item.picUrl!=null">pic_url = #{item.picUrl},</if>
            <if test="item.price!=null">price = #{item.price},</if>
            <if test="item.promotionPrice!=null">promotion_price =
                #{item.promotionPrice},
            </if>
            <if test="item.sales!=null">sales = #{item.sales},</if>
            <if test="item.sellerNick!=null">seller_nick = #{item.sellerNick},</if>
            <if test="item.title!=null">title = #{item.title},</if>
            <if test="q!=null">q = #{q},</if>
            <if test="item.sellerNickZh!=null">seller_nick_zh = #{item.sellerNickZh},</if>
            <if test="item.titleZh!=null">title_zh = #{item.titleZh,}</if>
        </set>
        where num_iid = #{item.numIid}
    </update>
</mapper>