<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yasyl.sailtotm.mapper.StuffMapper">

    <insert id="insert">
        INSERT INTO Stuff (role_id, location_id, status_id, first_name, last_name, email, phone_number,
                           password, created_date, resign_date, salary)
        VALUES (#{roleId}, #{locationId}, #{statusId}, #{firstName}, #{lastName}, #{email}, #{phone},
                #{password}, #{createdDate}, #{resignDate}, #{salary})
    </insert>

    <update id="updateStatusByStuffId">
        update sailtotmdb.Stuff
        <set>
            <if test="roleId!=null">role_id = #{roleId},</if>
            <if test="locationId!=null">location_id = #{locationId},</if>
            <if test="statusId!=null">status_id = #{statusId},</if>
        </set>
        where stuff_id = #{stuffId}
    </update>
    <select id="getByEmail" resultType="com.yasyl.sailtotm.entity.Stuff">
        select *
        from Stuff
        where email = #{email}
    </select>
    <select id="getById" resultType="com.yasyl.sailtotm.entity.Stuff">
        select *
        from Stuff
        where stuff_id = #{stuffId}
    </select>
</mapper>