<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.StuffMapper">
    <insert id="insert">
        INSERT INTO Stuff (role_id, location_id, status_id, first_name, last_name, email, phone_number, password, created_date, resign_date, salary)
        VALUES (#{roleId},#{locationId},#{statusId},#{name.firstName},#{name.lastName},#{email},#{phone},#{password},#{createdDate},#{resignDate},#{salary})
    </insert>
</mapper>